:root {
  --brand-color: #212121;
  --link-navigator: #2196f3;
  --color-contact: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--brand-color);
}

li {
  list-style: none;
  text-decoration: none;
}

/* --шапка навигации-- */
.site-nav,
.link,
.header-logo {
  text-decoration: none;
  color: #000000;
}

.contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}
/* --ссылки навигации-- */
.site-nav,
.link:focus,
.link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-navigator);
}

.сurrent {
  color: var(--link-navigator);
}

.contact:focus,
.contact:hover {
  color: var(--link-navigator);
}

/* --двухцветный логотип-- */
.header-logo,
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000000;
}
.header-logo-web {
  color: var(--link-navigator);
}

/* --герой-- */
.hero {
  text-align: center;
  background: #2f303a;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* --особенности-- */
.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

/* --чем мы занимаемся-- */
.title-doing-section,
.command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --команда-- */
.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

/* --кнопка веб-студии -- */
.button {
  color: #ffffff;
  background-color: var(--link-navigator);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* --кнопки портфолио-- */
.button-section {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--brand-color);
}

.button-section:hover,
.button-section:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* --галерея с фото-- */
.gallery-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

/* --подвал-- */

.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer-logo-web {
  color: var(--link-navigator);
}
.footer-logo-studio {
  color: #ffffff;
}

.footer-link-adress {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-mail,
.link-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #ffffff;
}
