:root {
  --brand-color: #212121;
  --link-navigator: #2196f3;
  --color-contact: #757575;
  --card-set-gap: 30px;
  --color-bg: #ffffff;
  --color-client: #afb1b8;
}

html,
portfolio {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--brand-color);
}

li {
  list-style: none;
  text-decoration: none;
}

.page-header > .container-header,
.site-nav,
.site-contact {
  display: flex;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.container-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  background: var(--color-bg);
}

.site-nav {
  margin-left: 93px;
  width: 294px;
  text-align: center;
  justify-content: space-between;
}

.site-contact {
  margin-left: auto;
}

.site-contact .item + .item {
  margin-left: 30px;
}

/* --шапка навигации-- */
.site-nav,
.link,
.header-logo {
  text-decoration: none;
  color: #000000;
}

.contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}

/* --ссылки навигации-- */
.site-nav,
.link:focus,
.link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-navigator);
}

.сurrent {
  color: var(--link-navigator);
}

.header-link-icon {
  color: var(--color-contact);
}

/* ховер фокус на иконках */

.header-link-icon:hover,
.header-link-icon:focus {
  color: var(--link-navigator);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.contact:focus,
.contact:hover {
  color: var(--link-navigator);
}

/* --двухцветный логотип-- */
.header-logo,
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000000;
}

.header-logo-web {
  color: var(--link-navigator);
}

/* --герой-- */
.hero {
  text-align: center;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-bg);
  text-align: center;
  width: 696px;
  margin: 0 auto;
}

/* --особенности-- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.features-decoration {
  padding-top: 94px;
  /* outline: 2px solid red; */
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-list {
  width: 270px;
  height: 250px;
}

.list-item {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}

/* --чем мы занимаемся-- */

.doing-decoration {
  padding-top: 94px;
  padding-bottom: 94px;
  align-content: center;
}

.doing-section {
  display: flex;
  justify-content: space-between;
}

.title-doing-section,
.command-title,
.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-title {
  margin-bottom: 50px;
}

.doing-section {
  margin-top: 50px;
}

/* --команда-- */

.command-decoration .command-list {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
  justify-content: center;
  text-align: center;
}

.command-decoration-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-icon-list {
  display: flex;
  justify-content: center;
  margin: 16px 32px 30px 32px;
}

.command-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-client);
}

.command-link-icon {
  fill: currentColor;
}

.command-link-item + .command-link-item {
  margin-left: 10px;
}

.command-link:hover,
.command-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.command-list {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.command-item:last-child {
  margin-right: 0;
}

.command-item {
  margin-right: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* outline: 2px solid red; */
  background-color: var(--color-bg);
}

.command-item-name {
  margin-top: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}

/* --постоянные клиенты */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-title {
  margin-bottom: 59px;
}

.clients-item {
  display: flex;
  height: 92px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: var(--color-client);
}

/* ховер бордера и иконки на работает одновременно */

.client-link {
  fill: var(--color-client);
}

.clients-item:hover,
.clients-item:focus {
  color: var(--link-navigator);
}

.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--link-navigator);
}

/* Бордеру не указывай цвет. 
Задай просто свойство color ссылке и при ховери смени color. 
Рамка будет наследовать цвет.
Либо укажи цвет бордеру на ссылке, 
а при ховере смени его. border-color 
Лучше переделай на ссылку. 
Все тот же колор задаёшь ссылке, а иконке currentColor (
 */

/* outline: 2px solid red; */

/* --кнопка веб-студии -- */
.button {
  color: #ffffff;
  background-color: var(--link-navigator);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200;
  border: 1px solid transparent;
  margin-top: 30px;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* --кнопки портфолио-- */

.button-section {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--brand-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}

.button-section:hover,
.button-section:focus {
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* текст в кнопке переносится на другую строку */

.gallery-decoration-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.button-decoration {
  padding-right: 8px;
}

.button-decoration:last-child {
  padding-right: 0;
}

.button-decoration:last-child {
  margin-right: 0;
}

/* --галерея с фото-- */

.gallery-decoration {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-decoration-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.gallery-section {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.gallery-section:hover,
.gallery-section:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery-section-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.gallery-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

/* --подвал-- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  margin: 0 auto;
}

.footer-title-icon {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg);
  margin-bottom: 20px;
}

.footer-decoration {
  display: flex;
}

.footer-join {
  margin-left: 70px;
}

.footer-join-links {
  display: flex;
}

.icon-footer {
  fill: var(--color-bg);
}

.footer-link-item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
}

.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--link-navigator);
  cursor: pointer;
}

.footer-join-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-bg);
  border-radius: 50%;
}

.footer-join-link + .footer-join-link {
  margin-left: 10px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-title {
  margin-bottom: 20px;
}

.footer-logo-web {
  color: var(--link-navigator);
}
.footer-logo-studio {
  color: #ffffff;
}

.footer-link-adress {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-mail,
.link-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #ffffff;
}
