body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

li {
  list-style: none;
  text-decoration: none;
}
.site-nav .link {
  color: black;
}
.site-nav .link:focus,
.link:hover {
  color: #2196f3;
}

.button {
  font-style: normal;
  cursor: pointer;
  cursor: auto;
}
