:root {
  --brand-color: #212121;
  --link-navigator: #2196f3;
  --color-contact: #757575;
  --card-set-gap: 30px;
}

html,
portfolio {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--brand-color);
  width: 1600px;
}

li {
  list-style: none;
  text-decoration: none;
}

.page-header > .container-header,
.site-nav,
.site-contact {
  display: flex;
}
.container-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.site-nav {
  margin-left: 93px;
  width: 294px;
  text-align: center;
  justify-content: space-between;
}

.site-contact {
  margin-left: 331px;
}

.site-contact .item + .item {
  margin-left: 50px;
}

/* --шапка навигации-- */
.site-nav,
.link,
.header-logo {
  text-decoration: none;
  color: #000000;
}

.contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-contact);
}

/* --ссылки навигации-- */
.site-nav,
.link:focus,
.link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--link-navigator);
}

.сurrent {
  color: var(--link-navigator);
}

.contact:focus,
.contact:hover {
  color: var(--link-navigator);
}

/* --двухцветный логотип-- */
.header-logo,
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000000;
}

.header-logo-web {
  color: var(--link-navigator);
}

/* --герой-- */
.hero {
  text-align: center;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 696px;
  margin: 0 auto;
}

/* --особенности-- */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.features-decoration .features {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
}

.fetures-list {
  width: 270px;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}

/* --чем мы занимаемся-- */

.doing-decoration {
  padding-bottom: 94px;
  align-content: center;
}

.doing-section {
  display: flex;
  justify-content: space-between;
}

.title-doing-section,
.command-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-title {
  margin-bottom: 50px;
}

.doing-section {
  margin-top: 50px;
}

/* --команда-- */

.command-decoration,
.gallery-decoration {
  padding-bottom: 94px;
  text-align: center;
}

.gallery-decoration {
  padding-top: 94px;
}

.command-list {
  display: flex;
}

.command-item {
  margin-right: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-item:last-child {
  margin-right: 0;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}

.command-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  padding-top: 10px;
}

/* --кнопка веб-студии -- */
.button {
  color: #ffffff;
  background-color: var(--link-navigator);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200;
  border: 1px solid transparent;
  margin-top: 30px;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* --кнопки портфолио-- */

.button-section {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--brand-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}

.button-section:hover,
.button-section:focus {
  color: #ffffff;
  background-color: #188ce8;
}

/* текст в кнопке переносится на другую строку */

.gallery-decoration-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.button-decoration {
  padding-right: 8px;
}

.button-decoration:last-child {
  padding-right: 0;
}

.button-decoration:last-child {
  margin-right: 0;
}

/* --галерея с фото-- */

.gallery-section {
  text-align: left;
}

.gallery-decoration-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
  margin-bottom: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.gallery-section {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.gallery-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}

.gallery-title,
.gallery-text {
  padding-left: 24px;
}

.gallery-title {
  padding-top: 20px;
}
.gallery-text {
  padding-bottom: 20px;
}

/* --подвал-- */

.footer {
  padding-top: 60px;
  background: #2f303a;
  width: 1600px;
  margin: 0 auto;
  padding-left: 215px;
}

.footer-decoration {
  padding-bottom: 60px;
}

.footer-decoration:not(:last-child) {
  padding-bottom: 9px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 20px;
}

.footer-logo-web {
  color: var(--link-navigator);
}
.footer-logo-studio {
  color: #ffffff;
}

.footer-link-adress {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-mail,
.link-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #ffffff;
}
