.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-title {
  margin-bottom: 59px;
}

.client-link {
  display: flex;
  height: 92px;
  width: 170px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--color-client);
  fill: var(--color-client);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  fill: var(--link-navigator);
  color: var(--link-navigator);
}
