.doing-decoration {
  padding-top: 94px;
  padding-bottom: 94px;
  align-content: center;
}

.doing-decoration__title,
.command-decoration__title,
.clients__title {
  @include font(36px, 700, 1.2, 0.03em);
  text-align: center;
}

.doing-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.doing-section__box {
  position: relative;
}

.doing-section__title {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  @include font(14px, 700, 1.2, 0.03em);
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: #ffffff;
  padding: 27px 0 27px 0;
  width: 100%;
  height: 70px;
}

