.features-decoration {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.features-decoration__item {
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    &:last-child {
      margin-right: 0;
    }
  }
}

.features-decoration___list-item {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-top: 30px;
  margin-bottom: 30px;
  @extend %align-list;
  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.features-decoration__list {
  margin-top: 30px;
  &:first-child {
    margin-top: 0;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.features-decoration__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.features-decoration__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}
