.features-decoration {
  padding-top: 94px;
}

.features-decoration__item {
  // display: flex;
  justify-content: space-between;
}

// .features-decoration__list {
//   // width: 270px;
//   // height: 250px;
// }

.features-decoration___list-item {
  // display: flex;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  @extend %align-list;
}

.features-decoration__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-decoration__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-contact);
  margin-top: 10px;
}
