.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  margin: 0 auto;
}

.footer-title-icon {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg);
  margin-bottom: 20px;
}

.footer-decoration {
  display: flex;
}

.footer-join {
  margin-left: 70px;
}

.footer-join-links {
  display: flex;
}

.icon-footer {
  fill: var(--color-bg);
}

.footer-link-item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
}

.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--link-navigator);
  cursor: pointer;
}

.footer-join-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-bg);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join-link + .footer-join-link {
  margin-left: 10px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-title {
  margin-bottom: 20px;
}

.footer-logo-web {
  color: var(--link-navigator);
}
.footer-logo-studio {
  color: #ffffff;
}

.footer-link-adress {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-mail,
.link-tel {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}


.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: #ffffff;
}


.footer-newsletter {
  margin-left: 93px;
}

.newsletter-wrap {
  display: flex;
}

.button-form-newsletter {
  display: flex;
  color: #ffffff;
  background-color: var(--link-navigator);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 29px;
  border: 1px solid transparent;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}

.form-input-newsletter {
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding-left: 16px;
  background-color: rgba(47, 48, 58, 1);
  cursor: pointer;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-newsletter::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.icon-newsletter {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  align-items: center;
}