.gallery-decoration {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-decoration-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.gallery-section {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.gallery-section:hover .ovarlay-text {
  transform: translateY(0);
}

.gallery-section-name {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.gallery-item-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--color-contact);
}
