.hero-solutions {
  display: block;
  text-align: center;
  background: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;

  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header_mobile_1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-solutions {
    background-image: url("../images/header_mobile_2x.jpg");
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-solutions {
    background-image: url("../images/header_tablet_1x.jpg");
    margin: 0 auto;
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero-solutions {
    background-image: url("../images/header_tablet_2x.jpg");
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero-solutions {
    background-image: url("../images/header_desktop_1x.jpg");
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .hero-solutions {
      background-image: url("../images/header_desktop_2x.jpg");
      margin: 0 auto;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.hero-solutions__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-bg);
  text-align: center;
  margin: 0 auto;
  @media (min-width: 480px) and (max-width: 1199px) {
    font-size: 24px;
    width: 360px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.3;
    width: 696px;
    margin: 0 auto;
  }
}
