.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opasity 500ms, visibility 500ms;

  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 480px) {
  width: 100%;
  max-width: 450px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 530px;
    min-height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  position: absolute;
  @extend %align-list;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--link-navigator);
  }
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--link-navigator);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-left: 40px;
  margin-right: 40px;
}

.form-field {
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--link-navigator);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.input-wrap {
  position: relative;
  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--link-navigator);
  }
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-text,
.user-mail,
.user-tel,
.user-name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-contact);
  display: block;
  margin-bottom: 4px;
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--link-navigator);
  }
}

.check-text {
  display: flex;
  align-items: center;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-contact);
  flex-wrap: wrap;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  @extend %align-list;
  align-items: center;
}

.icon-check {
  fill: transparent;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--link-navigator);
}

.right-check-text {
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--link-navigator);
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.button-form {
  color: #ffffff;
  background-color: var(--link-navigator);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 55px;
  border: 1px solid transparent;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
