html,
portfolio {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--brand-color);
}

body.modal-open {
  overflow: hidden;
}


li {
  list-style: none;
  text-decoration: none;
}
